body, html {
  background-color: #F8F9FD;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: #253955
}

.app__root {
  display: flex;
  max-width: 1200px;
  min-width: 1200px;
  background-color: white;
  margin: auto;
  padding: 20px;
  justify-content: center;
}

.header {
  display: flex;
  width: 100%;
  background-color: #253955
}

.header__logo {
  margin: 15px;
  color: white;
  margin-left: 20px;
  font-size: 30px;
  height: 50px;
}

.header__container {
  min-width: 1200px;
  display: flex;
  margin: auto;
}

.screen-title {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

button, input, .form-check {
  margin: 10px;
}

.card {
  min-width: 365px;
  margin: 10px;
}

.home__cards {
  display: flex;
  flex-wrap: wrap;
}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.screen, .option, .options, .question {
  display: flex;
  flex-direction:column;
  justify-content:stretch;
  align-items: stretch;
  align-self: center;
  justify-self: center;
}

.options {
  margin-top: 50px;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center
}

.title-button {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.result-text {
  text-align: center;
  margin: 15px
}

.result-label {
  text-align: center;
}